<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<div class="container my-3">
  <div class="my-3 border-bottom">
    <div>
      <h4>비밀번호 수정</h4>
    </div>
  </div>
  <div th:if="${param.error}">
    <div class="alert alert-danger">
      현재 비밀번호를 확인해 주세요.
    </div>
  </div>
  <form th:action="@{/user/update/password}" method="post">
    <label for="currentPassword">현재 비밀번호:</label>
    <input type="password" id="currentPassword" name="currentPassword" required>
    <label for="newPassword">새 비밀번호:</label>
    <input type="password" id="newPassword" name="newPassword" required>
    <button type="submit">수정</button>

  </form>
</div>
</html>