<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>수어 사전</title>
</head>
<body>
<a sec:authorize="hasRole('ADMIN')" th:href="@{/sign/delete(id = ${sign.id})}">수어 삭제하기</a>
<a sec:authorize="hasRole('ADMIN')" th:href="@{/sign/modify/{id}(id = ${sign.id})}">수어 수정하기</a>
<h1 th:text ="${sign.title}"></h1>
<p th:text ="${sign.sign_desc}"></p>
<video muted autoplay loop>
  <source th:src="@{${sign.filepath}}" type="video/mp4">
</video>

</hr>

</body>
</html>