<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>퀴즈</title>
</head>
<body>
<h1 th:text="${quiz.quiz_id}"></h1>
<p th:text="${quiz.sign.sign_desc}"></p>
<video muted autoplay loop>
  <source th:src="@{${quiz.sign.filepath}}" type="video/mp4">
</video>

<h2>선택지 중 하나를 선택하세요</h2>
<form action="/quiz/submit" method="post" th:csrf>
  <input type="hidden" name="quiz_id" th:value="${quiz.quiz_id}">
  <input type="radio" id="choice1" name="choiceId" th:value="${quiz.sign.id}">
  <label for="choice1" th:text="${quiz.sign.title}"></label>
  <th:block th:each="wrongAnswer : ${wrongAnswers}">
    <input type="radio" th:id="'choice' + ${wrongAnswer.id}" name="choiceId" th:value="${wrongAnswer.id}">
    <label th:for="'choice' + ${wrongAnswer.id}" th:text="${wrongAnswer.title}"></label>
    <br>
  </th:block>
  <input type="submit" value="선택 완료">
</form>


</body>
</html>
