<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>퀴즈</title>
</head>
<body>
<h1 th:text="${quiz.quiz_id}"></h1>
<p th:text="${quiz.sign.sign_desc}"></p>
<video muted autoplay loop>
  <source th:src="@{${quiz.sign.filepath}}" type="video/mp4">
</video>

<h2>선택지 중 하나를 선택하세요</h2>
<form action="/quiz/submit" method="post" th:csrf>
  <input type="hidden" name="quiz_id" th:value="${quiz.quiz_id}">
  <th:block th:each="choice : ${choices}">
    <input type="radio" th:id="'choice' + ${choice.id}" name="choiceId" th:value="${choice.id}">
    <label th:for="'choice' + ${choice.id}" th:text="${choice.title}"></label>
    <br>
  </th:block>
  <input type="submit" value="선택 완료">
</form>



</body>
</html>
