<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>게시글 리스트 페이지</title>
</head>
<style>
    .layout {
        width : 500px;
        margin : 0 auto;
        margin-top : 40px;
    }
</style>
<body>

<!-- 로그아웃 상태인 경우: 로그인과 회원가입 링크만 보이게 함 -->
<a sec:authorize="isAnonymous()"  th:href="@{/login}">로그인</a>
<a sec:authorize="isAnonymous()" th:href="@{/signup}">회원가입</a>

<!-- 로그인 상태인 경우: 로그아웃 링크만 보이게 함 -->
<a sec:authorize="isAuthenticated()" th:href="@{/logout}">로그아웃</a>
<a sec:authorize="isAuthenticated()" th:href="@{/quiz/result}">퀴즈 결과</a>

<div class="layout">
    <table>
        <thead>
        <tr>
            <th>퀴즈 번호</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="quiz : ${list}">
            <td>
                <a th:text="${quiz.quiz_id}" th:href="@{/quiz(id=${quiz.quiz_id})}"></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>